<div class="card checkinsList">
  <h1>报名列表</h1>
  <p>已报名此会议的用户</p>

  <div class="search cf">
    <h2>搜索已报名用户</h2>
    <input type="text" ng-model="query" placeholder="搜索用户">
  </div>
  
  <div class="formgroup">
    <span class="label">按:</span>
    <select ng-model="order">
      <option value="">--请选择--</option>
      <option value="name">名字</option>
      <option value="date">日期</option>
    </select>
  </div>

  <div class="formgroup">
    <input id="dirascending" type="radio" ng-model="direction">
    <label for="dirascending">升序</label>

    <input id="dirdescending" type="radio" ng-model="direction" value="reverse">
    <label for="dirdescending">降序</label>
  </div>

  <ul class="userlist cf">
    <li ng-repeat="checkin in checkins | orderBy : order: direction| filter: query">
      <div class="checkin">
        <div class="buttons" ng-if="currentUser">
          <button class="btn btn-delete tooltip" ng-click="deleteCheckin(checkin.$id)">
            <span>删除此报名?</span>
          </button>
        </div>
        <div class="info">
          <h2>{{checkin.name}}</h2>
          <div class="date">{{checkin.date | date: 'yyyy-MM-dd h:mm a'}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>